.row {
  margin: 40px 24px; // change this to less when responsive
}

p {
  line-height: 30px;
  font-size: 16px;
  color: rgba(0,0,0,0.5);
  margin-top: 16px;
}

.divider {
  width: 94%;
  height: 1px;
  background-color: rgba(0,0,0,0.1);
  margin: 124px auto;
}

.intro {
  margin-top: 15%;
}

.intro h1 {
  margin-bottom: 16px;
  opacity: 0.8;
  color: #ffffff;
}

.intro h2 {
  margin-bottom: 36px;
  margin: 36px auto 56px;
  white-space: nowrap;
  overflow: hidden;
  width: 30em;
  animation: type 5s steps(60, end);
  color: #ffffff;
}

#line {
  animation: blink 1s infinite;
}

@keyframes type{
  from { width: 0px; }
}

@keyframes blink{
  to{opacity: .0;}
}

.intro i {
  margin: 0 16px 24px;
}

.intro i:hover {
  color: #1f1d0f;
  opacity: 0.8;
}

.arrows-div {
  margin-top: 6em;
}

#arrow-icon {
  opacity: 0.6;
  animation: MoveUpDown 2s linear infinite;
  position: absolute;
  left: calc(50% - 0.75em);
}

@keyframes MoveUpDown {
  0% {
    bottom: -100px;
  }
  50% {
    bottom: -50px;
  }
  100% {
    bottom: -100px;
  }
}

#projects {
  margin-top: 0;
}
.wistem {
  padding: 0 56px;
}


@media (max-width: 767px) {
  #name-logo {
    color: #E91E63;
  }
  .intro h2 {
    font-size: 20px;
  }
  header {
    background: none;
  }
  .wistem {
    padding: 0;
  }
  .divider {
    margin: 24px auto;
  }
  .row {
    margin: 32px 8px;
  }
}


@media (max-width: 995px) {
  .intro {
    margin-top: 30%;
  }
  .intro h2 {
    animation: none;
    width: auto;
  }
  .arrows-div {
    display: none;
  }

  .row {
    margin: 32px 16px;
  }
}


@media (min-width: 767px) {
  .project {
    padding: 0 20px;
  }
}

.navbar-default.affix .nav>li>a:hover,
.navbar-default.affix .nav>li>a:active,
.navbar-default.affix .nav>li>a:focus{
  color: #b61924;
}

.navbar-default .nav>li.active>a,
.navbar-default .nav>li.active>a:focus {
  color: #b61924!important;
}

footer a:hover, footer a:active, footer a:focus {
  color: #b61924;
}

.navbar-default.affix .navbar-header .navbar-brand:hover {
  color: #b61924;
}

/*HOME*/

.navbar-brand {
  font-size: 22px;
  margin-top: 10px;
}

.navbar-nav {
  margin-top: 15px;
  font-weight: 400;
}

.social-media-icons i {
  color: #000000 !important;
}

/* Breakpoints for Mobile */

@media (max-width: 420px) {
  #home .navbar-default{
    background-color: transparent;
  }
  
  #home .navbar-default a{
    color: #ffffff !important;
  }

  #home .navbar-default .navbar-header .navbar-toggle{
    color: #ffffff;
  }

  #home .navbar-default .navbar-collapse{
    background-color: #f7f7f7;
  }

  #home .navbar-default .navbar-collapse li > a{
    color: #000000 !important;
  }

  #home .navbar-default .navbar-toggle:focus, #home .navbar-default .navbar-toggle:hover{
    background-color: transparent;
  }

  .intro{
    margin-top: 50%;
  }

  #home h1{
    font-size: 36px;
  }

  #home h2{
    padding-top: 10px;
    font-size: 15px;
  }
}

/*Breakpoint for HiDPI screen*/

@media (min-width: 1400px) {
  #home .intro{
    margin-top: 20%;
  }
}
/*HOME END*/

/*ABOUT*/


/*ABOUT END*/

/*PROJECTS*/

.section-research {
  padding-top: 100px;
  padding-bottom: 0;
}

.section-project h1 {
  padding-left: 40%;
}

.work-handled {
  color: #b61924;
  border: #b61924 solid 1px;
  background: white;
  font-size: 13px;
  font-style: normal;
  padding: 10px;
  margin-top: 20px;
  margin-right: 16px;
  border-radius: 4px;
  cursor: default !important;
}

/* Breakpoint for Mobile */
@media (max-width: 420px) {
  #projects .programming-language{
    line-height: 18px;
  }

  #projects p{
    font-size: 14px;
    line-height: 24px;
  }

  #projects .work-handled{
    display: block;
    margin-top: 10px;
  }
}
/*PROJECTS END*/

/*RESEARCH*/

.divider-research {
  width: 94%;
  height: 1px;
  background-color: rgba(0,0,0,0.1);
  margin: 4px auto;
}

/* Breakpoint for Mobile */
@media (max-width: 420px) {

  #research h3{
    font-size: 22px;
    line-height: 35px;
  }

  #research p{
    font-size: 14px;
    line-height: 24px;
  }
}

/*Breakpiont for Tablet*/
@media (min-width: 767px){
  #research h3{
    line-height: 28px;
  }
}

/*RESEARCH END*/

/*CV*/

.section-cv .cv-head a{
  font-family: 'Lato', 'sans-serif';
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  color: #000000;
  text-decoration: none;
}

.download-pdf {
  background: white;
  border: #b61924 solid 1px;
  border-radius: 4px;
  color: #b61924;
  font-size: 13px;
  font-style: normal;
  position: relative;
  margin-top: 215px;
  margin-left: 20px;
  padding: 10px 20px 10px 20px;
  text-align: center;
  height: 40px;
  text-decoration: none;
}

.download-pdf:hover, .download-pdf:active {
  background-color: #b61924;
  color: white;
  border: 1px solid #b61924;
  cursor: pointer;
  text-decoration: none !important;
}

 .download-pdf:focus, .download-pdf:visited{
  text-decoration: none !important;
}

div .download-pdf{
  text-align: center;
  vertical-align: middle;
}

.row .sub-heading h3{
  font-family: 'Catamaran', 'sans-serif';
  font-weight: 300;
  padding-left: 50px;
}

#cv-2 .row, #cv-3 .row, #cv-4 .row, #cv-5 .row, #cv-6 .row, #cv-7 .row{
  margin-left: -15px;
  margin-top: 0;
}

#cv-5{
  font-family: 'Catamaran', 'sans-serif';
  font-size: 16px;
  font-weight: 200;
}

#cv-5 .row{
  padding-top: 20px;
}

footer a{
  color: rgba(255, 255, 255, 0.3);
}

/* Breakpoint for Mobile */
@media (max-width: 420px) {
  #cv-1{
    text-align: center;
  }

  .row .sub-heading h3{
    padding-left: 0 !important;
  }

  .download-pdf{

  }
}

/* Breakpoint for Tablet*/
@media (min-width: 768px) {
  .row .sub-heading h3{
    padding-left: 0;
  }
}

@media (min-width: 990px){

  .download-pdf{
    display: block;
    position: relative;
    width: 150px;
    margin-top: 20px;
  }
}
/*CV END*/

/*ALL EXCEPT HOME*/

.navbar-default .sub-menu a {
  color: #000000 !important;
  text-decoration: none;
}

#about .about, #projects .projects, #research .research, #cv .cv{
  padding-bottom: 7px;
  border-bottom: 2px solid #b61924;
}

footer{
  font-size: 12px;
  font-family: 'Catamaran', 'sans-serif';
}

@media (max-width: 420px) {
  #about .about, #projects .projects, #research .research, #cv .cv {
    padding-bottom: 7px;
    border-bottom: none;
    font-weight: 700 !important;
  }
}
/*ALL EXCEPT HOME END*/
