.row {
  margin: 40px 24px; // change this to less when responsive
}

p {
  line-height: 30px;
  font-size: 16px;
  color: rgba(0,0,0,0.5);
  margin-top: 16px;
}

.divider {
  width: 94%;
  height: 1px;
  background-color: rgba(0,0,0,0.1);
  margin: 124px auto;
}

.intro {
  margin-top: 15%;
}

.intro h1 {
  margin-bottom: 16px;
  opacity: 0.8;
  color: #ffffff;
}

.intro h2 {
  margin-bottom: 36px;
  margin: 36px auto 56px;
  white-space: nowrap;
  overflow: hidden;
  width: 30em;
  animation: type 5s steps(60, end);
  color: #ffffff;
}

#line {
  animation: blink 1s infinite;
}

@keyframes type{
  from { width: 0px; }
}

@keyframes blink{
  to{opacity: .0;}
}

.intro i {
  margin: 0 16px 24px;
}

.intro i:hover {
  color: #1f1d0f;
  opacity: 0.8;
}

.arrows-div {
  margin-top: 6em;
}

#arrow-icon {
  opacity: 0.6;
  animation: MoveUpDown 2s linear infinite;
  position: absolute;
  left: calc(50% - 0.75em);
}

@keyframes MoveUpDown {
  0% {
    bottom: -100px;
  }
  50% {
    bottom: -50px;
  }
  100% {
    bottom: -100px;
  }
}

#projects {
  margin-top: 0;
}
.wistem {
  padding: 0 56px;
}


@media (max-width: 767px) {
  #name-logo {
    color: #E91E63;
  }
  .intro h2 {
    font-size: 20px;
  }
  header {
    background: none;
  }
  .wistem {
    padding: 0;
  }
  .divider {
    margin: 24px auto;
  }
  .row {
    margin: 32px 8px;
  }
}


@media (max-width: 995px) {
  .intro {
    margin-top: 30%;
  }
  .intro h2 {
    animation: none;
    width: auto;
  }
  .arrows-div {
    display: none;
  }

  .row {
    margin: 32px 16px;
  }
}


@media (min-width: 767px) {
  .project {
    padding: 0 20px;
  }
}

.navbar-default.affix .nav>li>a:hover,
.navbar-default.affix .nav>li>a:active,
.navbar-default.affix .nav>li>a:focus{
  color: #b61924;
}

.navbar-default .nav>li.active>a,
.navbar-default .nav>li.active>a:focus {
  color: #b61924!important;
}

footer a:hover, footer a:active, footer a:focus {
  color: #b61924;
}

.navbar-default.affix .navbar-header .navbar-brand:hover {
  color: #b61924;
}

/*HOME*/

.navbar-brand {
  font-size: 22px;
  margin-top: 10px;
}

.navbar-nav {
  margin-top: 15px;
  font-weight: 400;
}

.social-media-icons i {
  color: #000000 !important;
}

.social-media-icons i:hover{
  color: #ffffff !important;
}

/*HOME END*/

/*ABOUT*/


/*ABOUT END*/

/*PROJECTS*/

.section-research {
  padding-top: 100px;
  padding-bottom: 0;
}

.section-project h1 {
  padding-left: 40%;
}

.work-handled {
  color: #b61924;
  border: #b61924 solid 1px;
  background: white;
  font-size: 13px;
  font-style: normal;
  padding: 10px;
  margin-top: 20px;
  margin-right: 16px;
  border-radius: 4px;
  cursor: pointer;
}

.work-handled:hover {
  background-color: #b61924;
  color: white;
  border: 1px solid #b61924;
  cursor: pointer;
}

/*PROJECTS END*/

/*RESEARCH*/

.divider-research {
  width: 94%;
  height: 1px;
  background-color: rgba(0,0,0,0.1);
  margin: 4px auto;
}

/*RESEARCH END*/

/*CV*/

/*CV END*/

/*ALL EXCEPT HOME*/
.navbar-default .sub-menu a {
  color: #000000 !important;
}

#projects .projects, #research .research {
  border-bottom: 2px solid #b61924;
}
/*ALL EXCEPT HOME END*/
